<header>
    <div>
      <nav>
        <a href="{{ url_for('users.admin') }}">Привітання</a>
        <a href="{{ url_for('products.product_list') }}">Список продуктів</a>
        <a href="{{ url_for('home') }}">Головна</a> 
        <a href="{{ url_for('login') }}">Вхід</a> 
        <a href="{{ url_for('profile') }}">Профіль</a> 
        <a href="{{ url_for('logout') }}">Вийти</a>
        <a href="{{ url_for('resume') }}">Резюме</a> 
        <a href="{{ url_for('contacts') }}">Контакти</a>
      
      </nav>
    </div>
  </header>