<header class="bg-dark text-white py-3 mb-4">
    <div class="container d-flex justify-content-between align-items-center">
      <nav>
        <a href="{{ url_for('users.admin') }}" class="text-white text-decoration-none me-3">Привітання</a>
        <a href="{{ url_for('products.product_list') }}" class="text-white text-decoration-none">Список продуктів</a>
        <a href="{{ url_for('home') }}">Головна</a> 
        <a href="{{ url_for('login') }}">Вхід</a> 
        <a href="{{ url_for('profile') }}">Профіль</a> 
        <a href="{{ url_for('logout') }}">Вийти</a>
        <a href="{{ url_for('resume') }}">Резюме</a> 
        <a href="{{ url_for('contacts') }}">Контакти</a>
      
      </nav>
    </div>
  </header>