{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block content %}
<h2>Вхід</h2>
    <form method="POST" action="" novalidate>
        {{ form.csrf_token }}
        {{ render_field(form.user) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember) }}
        {{ form.submit(class="btn btn-primary") }}
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
